* {
    padding: 0;
    margin: 0;
    background-color: #dda15e;
}

#heading {
    text-align: center;
}

#main_heading {
    width: 450px;
    margin: 14px;
}

#bismillah {
    width: 370px;
    margin-bottom: 10px;
}

p {
    text-align: center;
}

#content {
    text-align: center;
}

.surah {
    width: 180px;
}

#zipimg{
    width: 450px;
    margin-bottom: 8px;
}

hr {
    margin: 1px;
}

footer,
p {
    background-color: #bc6c25;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#zip-a{
    text-align: center;
}
